<div class="flex border-b border-gray-100">
  <div class="pl-6 pr-4 py-3.5">
    <div class="flex items-center bg-gray-100 rounded-md h-12 p-1">
      <div class="flex items-center justify-center rounded-full bg-emerald-400 w-9 h-9 mr-1.5">
        <span class="text-white text-sm font-bold">U</span>
      </div>
      <div class="flex items-center justify-center rounded-full bg-gray-200 w-[22px] h-[22px]">
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="mt-0.5">
          <path d="M1 1L6 6L11 1" class="stroke-gray-400 stroke-2"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="pr-6 pl-4 py-3.5 border-l border-gray-100">
    <div class="flex">
      <div class="flex items-center justify-center w-12 h-12 bg-gray-50 rounded-md border border-gray-100 mr-3">
        <span class="font-bold">EM</span>
      </div>
      <div>
        <span class="block font-semibold">Example Map</span>
        <span class="block text-sm text-gray-400">Edited 2 hours ago</span>
      </div>
    </div>
  </div>
</div>
